html {
  font-size: 10px; /* px means 'pixels': the base font size is now 10 pixels high  */
  font-family:'Potta', serif; /* this should be the rest of the output you got from Google fonts */
  background-color:  #ecf7fb;
}
h1 {
  margin: 0;
  font-size: 60px;
  text-align: center;
  color: #82addf;
  text-shadow: 0px 4px 1px #2b8fa7;
}
body {
  width: 700px;
  margin: 0 auto;
  background-color: #ccffff;
  padding: 0 20px 20px 20px;
  border: 3px solid black;
}
img {
  display: block;
  margin: 0 auto;
}
p, li ,a{
  font-size: 10px;
  line-height: 2;
  letter-spacing: 1px;
}
